.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;

}

.img-container {
display: flex;
justify-content: center;
align-items: center;

}

.home {
  #mabloq-nav
   li {
    color: black;
    }
    li a {
      color: black !important;
    }


}

.home-img {
  display: block;
  margin:  0 auto;
  margin-top:200px;
}

.about-me {
  position: relative;
  margin: 0 auto;
  h2, p:first-of-type {
    text-align: center;
  }
  p:nth-child(1n){
    font-size: 18px;
  }
  h2 {
    color:rgb(255, 138, 15);
  }
  h3 {
    color:rgb(15, 154, 255)
  }
}
