.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.home {
  #mabloq-nav
   li {
    color: black;
    }
    li a {
      color: black !important;
    }


}

.home-img {
  margin: auto;
}
