#mabloq-nav {
  padding: 10px;
  text-align: center; }
  #mabloq-nav ul {
    list-style: none;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    display: inline-block; }
    #mabloq-nav ul li {
      float: left;
      width: 150px;
      height: 65px;
      line-height: 65px;
      position: relative;
      text-transform: uppercase;
      font-size: 14px;
      color: #ffffff;
      cursor: pointer; }

ul.mabloq-nav-dropdown {
  display: inline-block; }

ul.mabloq-nav-dropdown li {
  display: none; }

ul.mabloq-nav-dropdown:hover > ul.mabloq-nav-dropdown li {
  display: block; }

.blog-tag {
  margin-right: 5px;
  border-radius: 400px;
  display: inline-block;
  background-color: #adadad;
  padding: 5px;
  min-width: 50px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 11px;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75); }
  .blog-tag:active {
    color: white;
    text-decoration: none;
    background-color: #adadad; }
  .blog-tag:hover {
    color: white;
    text-decoration: none;
    background-color: #adadad; }

.blog-card {
  border: 1px solid #CCCCCC;
  border-radius: 20px;
  padding: 15px;
  margin-top: 30px; }
  .blog-card:first-child {
    margin-top: 5px; }

.read-more {
  color: orange;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 5px; }
  .read-more:hover {
    color: orange;
    text-decoration: none; }

.italics {
  font-style: italic; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

#hero {
  background-image: url(./images/hero.jpg);
  height: 500px; }

.hero-title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
  font-size: 72px;
  font-weight: bold;
  margin-top: 125px; }
